<datalist id="expenses">
    <option value="House Rent">
    <option value="Hostel Rent">
    <option value="PG Rent">     
    <option value="Electricity Bill">
    <option value="Medical Bill">
    <option value="Groceries">
    <option value="Snacks">
    <option value="EMI">
    <option value="Outfit">
    <option value="Dress">
    <option value="Gadgets">    
    <option value="Outing">
    <option value="Movie">
    <option value="Birthday Party">
    <option value="Expense">  
</datalist>