{% load static %}

{% load humanize %}

<div class="col-1 income" id="income_{{value.2}}_drop_down">
    <i class="fa fa-caret-down mt-2" id="income_{{value.2}}_caret-btn"></i>
</div>

<br>
</div>
<div class=" mt-1"> </div>

<div class="" id="income_{{value.2}}" hidden>


    {% for i in value.1|dictsortreversed:"amount" %}

    <div class="row content incomeContent word-wrap ">

        <div class="col-2 white-row-bg pt-2 pb-2 income-left-border">

        </div>

        <div class="col-5 white-row-bg pt-2 pb-2">
            {{i.date|naturalday|title }}
        </div>
        <div class="col-4 income white-row-bg pt-2 pb-2 amts jost">
            <span style="margin-right: 5px;">+</span>{{i.amount|intcomma}}
            <span class="income user-expense-percent  white-row-bg pt-1 pb-1">
                {{i.percent}}%
            </span>
        </div>

    </div>
    <div class=" mt-1"> </div>
    {% endfor %}

</div>


<script>

    var incomeDropdown = document.querySelector("#income_{{value.2}}_drop_down")
    
    incomeDropdown.addEventListener('click',function(){
        var income_list = document.querySelector("#income_{{value.2}}")
        income_list.hidden = !income_list.hidden
        caret_btn = document.querySelector("#income_{{value.2}}_caret-btn") 
        if(caret_btn.classList.contains("fa-caret-down")) {
            caret_btn.classList.remove("fa-caret-down")
            caret_btn.classList.add("fa-caret-up")
        }else{
            caret_btn.classList.remove("fa-caret-up")
            caret_btn.classList.add("fa-caret-down")
        }
    })

</script>

