{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block content %}

<style>
    body {
        color: black;
        background-color: rgb(248, 248, 248);
    }
    .white-bg {
        background-color: white;
    }
    .border-class {
        border-left: none;
        border-top: none;
        border-right: none;
        border-radius: 0px;
        outline-style: none !important;
        box-shadow: none !important;
        border-color: grey !important;
        /* border-color: #00BFA5 !important; */
    }
    .grey-bg{
	/* background-color: rgb(248, 248, 248) !important; */
    }

    .blue-text{
      color: #00B0FF;
    }

    .blue-text:hover{
      color: #00B0FF;
      text-decoration: underline;
    }
</style>


<div class="desktop-content">
    <form action="" method="post">
        {% csrf_token %}
    
        <div class="modal-dialog shadow-none">
            <div class="modal-content shadow-none border-0 form-white-bg" style="border-radius: 0% !important;">
                <div class="container text-center p-2 pb-0 mt-2">
                    <h5 class="modal-title  font-weight-bold jost blue-text" id="exampleModalLabel">
                        {{"Sign In"|upper}}
                    </h5>
                    <!-- <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button> -->
                </div>
    
                <div class="modal-body">
                    <div class="form mt-2 mb-2">
                        <div class="form mt-2 mb-2">
                            <input type="text" id="inc-desc" oninput="" value="" required value="{{username}}"
                                name="username" 
                                class="form-control  border-class form-white-bg" placeholder="Username">
                        </div>
                        <br>
    
                        <div class="form mt-2 mb-2">
                            <input type="password" id="inc-desc" oninput="" value="" required name="password"
                                class="form-control  border-class form-white-bg" placeholder="Password">
                        </div>
                        
                    </div>
                    <br>
                </div>
                
                <button class="btn btn-primary border-0 shadow-none jost" id="add-income-btn" type="submit"
                style="border-radius: 0%;background-color: #00B0FF;cursor: pointer;">
                Login
            </button>
            </div>
        </div>
    </form>


<p class="pt-1  text-center">New member?
    <a href="{% url 'sign-up' %}" class="blue-text already-sign">Sign Up</a>
</p>

{% if form.errors %}
<div class="modal-dialog shadow-none border-0" style="border: none !important;">
    <div class="modal-content shadow-none grey-bg border-0 white-bg" style="border-radius: 0% !important;">
        <div class="container text-center ">
            
            <div class="alert text-danger m-1  font-weight-bold jost">
                <i class="fas fa-exclamation-circle"></i> Invalid Login Credentials
            </div>
            
        </div>
    </div>
</div>
{% endif %}
</div>



<div class="mobile-content">
    <div class="mt-5" style=""></div>
    <form action="" method="post">
        {% csrf_token %}
    
        <div class="modal-content shadow-none border-0 form-white-bg mx-auto"
                style="border-radius: 0% !important;top: 55%;margin-top: 10%;width: 90%;">
            <div class="container text-center p-2 pb-0 mt-2 ">
                <h5 class="modal-title  font-weight-bold jost blue-text modal-font" id="exampleModalLabel">
                    {{"Sign In"|upper}}
                </h5>
                <!-- <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="mb-4"></div>
            <div class="modal-body">
                <div class="form mt-3 mb-3 p-2">
                    <input type="text" id="inc-desc" oninput="" value="" required value="{{username}}"
                        name="username" 
                        class="form-control  border-class form-white-bg modal-form-font" placeholder="Username">
                </div>
                <br>
                <div class="mb-4"></div>
                <div class="form mt-3 mb-3 p-2">
                    <input type="password" id="inc-desc" oninput="" value="" required name="password"
                        class="form-control  border-class form-white-bg modal-form-font" placeholder="Password">
                </div>
                <br>
                <div class="mb-4"></div>
                <br>
            </div>
            
            <button class="btn btn-primary border-0 shadow-none jost modal-btn-font" id="add-income-btn" type="submit"
            style="border-radius: 0%;background-color: #00B0FF;cursor: pointer;">
            Login
        </button>
        </div>

    </form>

    <div class="mb-5"></div>
<p class="pt-1  text-center modal-form-font">New member?
    <a href="{% url 'sign-up' %}" class="blue-text already-sign">Sign Up</a>
</p>

{% if form.errors %}
<div class="mb-5"></div>

    <div class="modal-content shadow-none grey-bg border-0 white-bg" style="border-radius: 0% !important;">
        <div class="container text-center ">
            
            <div class="alert text-danger m-1  font-weight-bold jost modal-form-font">
                <i class="fas fa-exclamation-circle"></i> Invalid Login Credentials
            </div>
            
        </div>
    </div>

{% endif %}
</div>



{% endblock content %}