{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}


{% if budgets|length == 0 %}
    <div class="container text-center mx-auto p-3 white-row-bg text-black-50 mt-3 desktop-content">
        <p class="font-weight-bold h2 jost m-5 p-5 text-white">
            you haven't added any budgets yet !
        </p>
    </div>

    <div class="mobile-content" style="margin-top: 25%;">
        <div class="container text-center mx-auto p-3 white-row-bg text-black-50 mt-3 m-5">
            <p class="font-weight-bold h2 jost m-5 p-5 no-budgets text-white">
                you haven't added any budgets yet !
            </p>
        </div>
    </div>

{% endif %}

<div class="desktop-content row fixed-bottom grey-bgs  white-row-bg container-fluid mx-auto p-2 text-center bottom-fixed-row">
    <div class="col-4  font-weight-bold  jost">
        <div class="row pipe-white" >
            <div class="col-5  font-weight-bold"> Income</div>
            <div class="col-7 income left-texts"> ₹ {{overall_income}}</div>
        </div>
    </div>

    <div class="col-4 font-weight-bold  jost white-row-bgs">
        <div class="row">
            <div class="col-5">Savings
            </div>
            <div class="col-7 savings left-texts pipe-white"
                >
                 ₹ {{overall_savings}}
            </div>
        </div>
    </div>

    <div class="col-4 font-weight-bold  jost white-row-bgs">
        <div class="row">
            <div class="col-5"> Expense</div>
            <div class="col-7 expense left-texts">
                ₹ {{overall_expense}}
            </div>
        </div>
    </div>
</div>

<div class="mobile-content row fixed-bottom grey-bgs  white-row-bg container-fluid mx-auto p-2 text-center bottom-fixed-row">

    <div class="row font-weight-bold jost m-1 pt-2 income">
        <div class="col-4 text-center pipe-black" >
            <span class="income">
                <i class="fas fa-arrow-up"></i>
            </span>
            Income

        </div>
        <div class="col-4 text-center savings pipe-black">
            <span class="savings">
                <i class="fas fa-hand-holding-usd"></i>
            </span>
            Savings
        </div>
        <div class="col-4 text-center expense">
            <span class="expense">
                <i class="fas fa-arrow-down"></i>
            </span>
             Expense
        </div>
    </div>
    <div class="row font-weight-bolds jost m-3 bottom-amount pb-4">

        <div class="col-4 text-center incomes" >
            ₹ {{overall_income}}
        </div>

        <div class="col-4 text-center saving">
            ₹ {{overall_savings}}
        </div>

        <div class="col-4 text-center expenses">
            ₹ {{overall_expense}}
        </div>
    </div>

</div>


<div class="container white-row-bgs desktop-content">
    <div class="w- mx-auto">
        {% for key,value in budgets.items %}

        <div class="row font-weight-bold mb-3" style="font-size: 1.5em;">
            <div class="col-12  ">
                <div class="row">
                    <div class="white-row-bgs   heading jost income">
                        {{key}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row font-weight-bold jost budget-row">

            <div class="col-12 ">
                <div class="row font-weight-bolds mb-2">
                    <div class="col-3 ">
                        Month
                    </div>
                    <div class="col-3 ">
                         Incomes
                    </div>
                    <div class="col-3 ">
                         Expenses
                    </div>
                    <div class="col-3 ">
                        Savings
                    </div>

                    <br>
                </div>
            </div>

        </div>

        {% for months in value.0 %}

            <div class="row white-row-bg budget-row-light budget-row" style="cursor: pointer;" >
                <a href="{% url 'single-month-budget' month=months.month_number year=key %}">
                    <div class="col-12 jost">
                        <div class="row font-weight-bolds mb-2 mt-2">
                            <div class="col-3 font-weight-bolds text-black ">
                                {{months.month}}
                            </div>
                            <div class="col-3 income ">
                                {% if months.income == '-' %}
                                <span class="text-center ">-</span>
                                {% else %}
                                    ₹ {{months.income|intcomma}} 

                                    
                                    {% if months.max_income %}
                                        <span class="p-2">
                                            <i class="fas fa-angle-double-up"></i>
                                        </span>
                                    {% endif %}
                                        
                                    {% if months.min_income %}
                                        <span class="p-2">
                                            <i class="fas fa-angle-double-down"></i>
                                        </span>
                                    {% endif %}

                                    <!-- <span class="expense-percent  pt-1 pb-1">
                                        {{months.income_percent}}%
                                </span> -->
                                
                                {% endif %}

                            </div>
                            <div class="col-3 expense ">
                                {% if months.expense == '-' %}
                                    <span class="ml-5">-</span>
                                {% else %}
                                    ₹ {{months.expense|intcomma}}

                                    
                                    {% if months.max_expense %}
                                        <span class="p-2">
                                            <i class="fas fa-angle-double-up"></i>
                                        </span>
                                    {% endif %}
                                        
                                    {% if months.min_expense %}
                                        <span class="p-2">
                                            <i class="fas fa-angle-double-down"></i>
                                        </span>
                                    {% endif %}

                                    <span class="expense-percent  pt-1 pb-1">
                                        {{months.expense_percent}}%
                                    </span>
                                
                                {% endif %}

                            </div>
                            <div class="col-3 font-weight-bolds text-blacks savings">
                                {% if months.savings == '-' %}
                                    <span class="text-center ">-</span>
                                {% else %}
                                    ₹ {{months.savings|intcomma}}

                                    {% if months.max_savings %}
                                        <span class="p-2">
                                            <i class="fas fa-angle-double-up"></i>
                                        </span>
                                    {% endif %}
                                        
                                    {% if months.min_savings %}
                                        <span class="p-2">
                                            <i class="fas fa-angle-double-down"></i>
                                        </span>
                                    {% endif %}

                                    <span class="savings-percent  pt-1 pb-1">
                                        {{months.savings_percent}}%
                                </span>
                                {% endif %}

                            </div>

                            <br>
                        </div>
                    </div>
                </a>


            </div>
            <div class=" mt-1"></div>
            <!-- {{months.month}} - {{months.income}} - {{months.expense}} - {{months.savings}}  -->
        {% endfor %}

        {% for k,v in value.1.0.items  %}

            <div class="row white-row-bg pt-1 pb-1 jost" style="font-size: .9em;">
                <div class="col-12 ">
                    <div class="row font-weight-bold mb-2 mt-2">
                        <div class="col-3 font-weight-bold  jost">
                             Total
                        </div>
                        <div class="col-3 income ">
                            {% if v.yearly_income == '-' %}
                            <span class="text-center ">-</span>
                            {% else %}
                                ₹ {{v.yearly_income|intcomma}}
                                <!-- <span class="expense-percent  pt-1 pb-1">
                                    {{v.yearly_inc_percent}}%
                            </span> -->
                            {% endif %}

                        </div>
                        <div class="col-3 expense ">
                            {% if v.yearly_expense  == '-' %}
                                <span class="ml-5">-</span>
                            {% else %}
                                ₹ {{v.yearly_expense|intcomma}}
                                <span class="expense-percent  pt-1 pb-1">
                                    {{v.yearly_exp_percent}}%
                            </span>
                            {% endif %}

                        </div>
                        <div class="col-3 font-weight-bold text-blacks savings">
                            {% if v.yearly_savings == '-' %}
                                <span class="text-center">-</span>
                            {% else %}
                                ₹ {{v.yearly_savings|intcomma}}
                                <span class="savings-percent  pt-1 pb-1">
                                    {{v.yearly_savings_percent}}%
                            </span>
                            {% endif %}

                        </div>

                        <br>
                    </div>
                </div>
            </div>
            <div class=" mt-1"></div>

        {% endfor %}
    <br>
    {% endfor %}
    </div>
    <div class="mb-5">
    </div>

</div>

<!-- Mobile----------------------------------------------- -->

<div class="containers white-row-bgs mobile-content mx-auto" style="width: 95%;">
    <div class="w- mx-auto">
        {% for key,value in budgets.items %}

        <div class="row font-weight-bold mb-3 " style="">
            <div class="col-12  ">
                <div class="row">
                    <div class="white-row-bgs  monthly-year heading jost income">
                        {{key}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row font-weight-bold jost budget-row-heading ">

            <div class="col-12 pt-3 pb-3">
                <div class="row font-weight-bolds mb-2 text-centers "
                style="font-size: 2.75rem !important;">
                    <div class="col-3 ">

                        <span class="p-3">
                            Month
                        </span>
                    </div>
                    <div class="col-3 ">
                         Incomes
                    </div>
                    <div class="col-3 ">
                         Expenses
                    </div>
                    <div class="col-3 ">
                        Savings
                    </div>

                    <br>
                </div>
            </div>

        </div>

        {% for months in value.0 %}

            <div class="row white-row-bg budget-row-light budget-row pt-3 pb-3  "
            style="cursor: pointer;
                    " >
                <a href="{% url 'single-month-budget' month=months.month_number year=key %}">
                    <div class="col-12 word-wrap josts " style="">
                        <div class="row font-weight-bold  mb-2 mt-2 text-centers " >

                            <div class="col-3 font-weight-bolds jost text-black " >

                                <span class="p-3 " style="font-weight: 500 !important;">
                                    {{months.month}}
                                </span>

                            </div>
                            <div class="col-3 income monthly-font jost monthly-mobile "
                            style="">
                                {% if months.income == '-' %}
                                <span class="text-center ">-</span>
                                {% else %}
                                <span style="margin-right: 5px;"></span>{{months.income|intcomma}}

                                {% if months.max_income %}
                                    <span class=" " style="padding-left: 10px !important;font-size: smaller;">
                                        <i class="fas fa-angle-double-up"></i>
                                    </span>
                                {% endif %}
                                
                                {% if months.min_income %}
                                    <span class="p-0 mr-0 " style="padding-left: 10px !important;font-size: smaller;">
                                        <i class="fas fa-angle-double-down"></i>
                                    </span>
                                {% endif %}

                                    <!-- <span class="expense-percent  pt-1 pb-1">
                                        {{months.income_percent}}%
                                </span> -->
                                {% endif %}

                            </div>
                            <div class="col-3 expense monthly-font jost monthly-mobile "
                                style="">
                                {% if months.expense == '-' %}
                                    <span class="ml-5">-</span>
                                {% else %}
                                <span style="margin-right: 5px;" class=""></span>{{months.expense|intcomma}}
                                    <span class="expense-percent  pt-1 pb-1" style="font-size:12px;">
                                        {{months.expense_percent|truncatechars:5}}%
                                </span>

                            {% if months.max_expense %}
                                <span class="p-0 " style="padding-left: 10px !important;font-size: smaller;">
                                    <i class="fas fa-angle-double-up"></i>
                                </span>
                            {% endif %}
                            
                            {% if months.min_expense %}
                                <span class="p-0 mr-0 " style="padding-left: 10px !important;font-size: smaller;">
                                    <i class="fas fa-angle-double-down"></i>
                                </span>
                            {% endif %}

                                {% endif %}

                            </div>
                            <div class="col-3 font-weight-bolds text-blacks savings monthly-font jost monthly-mobile"
                            style="">
                                {% if months.savings == '-' %}
                                    <span class="text-center ">-</span>
                                {% else %}
                                <span style="margin-right: 5px;"></span>{{months.savings|intcomma}}
                                    <span class="savings-percent  pt-1 pb-1" style="font-size:12px;">
                                        {{months.savings_percent|truncatechars:5}}%
                                </span>


                                {% if months.max_savings %}
                                <span class="p-0 " style="padding-left: 10px !important;font-size: smaller;">
                                    <i class="fas fa-angle-double-up"></i>
                                </span>
                                {% endif %}
                                
                                {% if months.min_savings %}
                                <span class="p-0 mr-0 " style="padding-left: 10px !important;font-size: smaller;">
                                    <i class="fas fa-angle-double-down"></i>
                                </span>
                                {% endif %}

                                {% endif %}

                            </div>

                            <br>
                        </div>
                    </div>
                </a>

            </div>
            <div class=" mt-4 mb-2"></div>
            <!-- {{months.month}} - {{months.income}} - {{months.expense}} - {{months.savings}}  -->
        {% endfor %}

        {% for k,v in value.1.0.items  %}

            <div class="row white-row-bg pt-1 pb-1 josts " style="font-size: .6em;">
                <div class="col-12 budget-row-total pt-3 pb-3"
                style="border-left:0px solid #00BFA5;
                        border-top:0px solid rgb(224, 224, 224);">
                    <div class="row font-weight-bold mb-2 mt-2 text-centers bg-dangers monthly-font">
                        <div class="col-3 font-weight-bold  josts bg-successs">
                            <span class="p-3">
                                Total (₹)
                            </span>
                        </div>
                        <div class="col-3 income monthly-font jost monthly-mobile">
                            {% if v.yearly_income == '-' %}
                            <span class="text-center ">-</span>
                            {% else %}
                            <span style="margin-right: 5px;"></span>{{v.yearly_income|intcomma}}
                                <!-- <span class="expense-percent  pt-1 pb-1">
                                    {{v.yearly_inc_percent}}%
                            </span> -->
                            {% endif %}

                        </div>
                        <div class="col-3 expense monthly-font jost monthly-mobile">
                            {% if v.yearly_expense  == '-' %}
                                <span class="ml-5">-</span>
                            {% else %}
                            <span style="margin-right: 5px;"></span>{{v.yearly_expense|intcomma}}
                                <span class="expense-percent  pt-1 pb-1">
                                    {{v.yearly_exp_percent}}%
                            </span>
                            {% endif %}

                        </div>
                        <div class="col-3 font-weight-bold text-blacks savings monthly-font jost monthly-mobile">
                            {% if v.yearly_savings == '-' %}
                                <span class="text-center">-</span>
                            {% else %}
                            <span style="margin-right: 5px;"></span>{{v.yearly_savings|intcomma}}
                                <span class="savings-percent  pt-1 pb-1">
                                    {{v.yearly_savings_percent}}%
                            </span>
                            {% endif %}

                        </div>

                        <br>
                    </div>
                </div>
            </div>
            <div class=" mt-1"></div>



        {% endfor %}
    <br>
    {% endfor %}
    </div>

    

    <div class="mb-5">
        <br><br><br><br><br><br>
    </div>


</div>


{% endblock %}