<div
  class="modal fade mt-5"
  id="removeExp_{{expense.slug}}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content form-white-bg" style="border-radius: 0% !important;">

      <div class="modal-body text-center">
          <div class="container  mt-3 mb-3  ">
            <h3 class="font-weight-bold expense">
                {{expense.description|title}}
            </h3>
          </div>
          <div class="container mt-4 mb-3 text-white">
            <h3>
                {{expense.amount}}
            </h3>
          </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
      <button class="btn btn-primary border-0"  id="remExpBtn_{{expense.slug}}" 
            data-slug="{{expense.slug}}"
            style="border-radius: 0%;background-color: #E53935;">
          Remove
      </button>
    </div>
  </div>
</div>



<span style="cursor: pointer;" id="expCrossSpan_{{expense.slug}}" hidden>
    <i class="fas fa-times-circle mt-2" id="removeExpenseCross_{{expense.slug}}"
    data-mdb-toggle="modal"
    data-mdb-target="#removeExp_{{expense.slug}}"></i>
</span>



<script>
        removeExpBtn = document.querySelector("#remExpBtn_{{expense.slug}}")
        removeExpBtn.addEventListener('click', function () {
            this.disabled = true
            console.log("removing expense....");
            slug = this.getAttribute("data-slug")
            console.log(slug)
            console.log(removeExpBtn);
            removeExpBtn.disabled = true
            this.textContent = "Removing Expense..."
            remove_expense(slug)
        })

    function remove_expense(slug) {

        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: "{% url 'remove-item' %}",
            type: "POST",
            data: {
                type: 'exp',
                slug:slug
            },

            success: function (json) {
                console.log(json);
                location.reload()
            },
            error: function (xhr, errmsg, err) {
                console.log("Error!")
                console.log(xhr.status + ":" + xhr.responseText)
            }

        })

    }

</script>