{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}



{% include 'add_income.html' %}

{% include 'add_expense.html' %}








<div class="containers mx-auto" style="width: 95%;">

    <div class="container-fluid mt-0 ">


        <!-- bottom line -->

        <!-- <div class="desktop-content row fixed-bottom grey-bgs  white-row-bg container-fluid mx-auto p-2 text-center bottom-fixed-row">
            <div class="col-4  font-weight-bold  jost">
                <div class="row pipe-white" >
                    <div class="col-5  font-weight-bold"> Income</div>
                    <div class="col-7 income left-texts"> ₹ {{overall_income}}</div>
                </div>
            </div>
    
            <div class="col-4 font-weight-bold  jost white-row-bgs">
                <div class="row">
                    <div class="col-5">Savings
                    </div>
                    <div class="col-7 savings left-texts pipe-white" 
                        >
                         ₹ {{overall_savings}} 
                    </div>
                </div>
            </div>
    
            <div class="col-4 font-weight-bold  jost white-row-bgs">
                <div class="row">
                    <div class="col-5"> Expense</div>
                    <div class="col-7 expense left-texts"> 
                        ₹ {{overall_expense}}
                    </div>
                </div>
            </div>
        </div> -->
    


        <div class="row mt-3 ">
            <div class="col-6 col-lg-6  col-md-12 desktop-content jost">
                <div class="row  head text-center">
                    <div class="col-11 col-lg-11 col-md-12 white-row-bg ">
                        <div class="jost font-weight-bolds mb-2 mt-3 month-savings saving ">
                            <i class="fas fa-hand-holding-usd"></i> {{" Savings " | title}}
                        </div>

                        <div class="income savingss font-weight-bolds mb-3 month-savings word-wrap " >
                            <!-- <i class="fas fa-coins"></i>  -->
                            
                            <span style="margin-right: 5px;">₹</span>{{overall_savings|intcomma}}
                            <span class="user-available-percent white-row-bg income" >
                                {{overall_savings_percentage}}%
                            </span>
    
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-6  col-md-12 mobile-content jost ">
                <div class="row  head text-center">
                    <div class="col-11 col-lg-11 col-md-12 white-row-bg ">
                        <div class="jost font-weight-bolds mb-2 mt-3 month-savings p-3 pt-4 pb-4">
                            <i class="fas fa-hand-holding-usd"></i> {{" Savings " | title}}
                        </div>

                        <div class="income savings font-weight-bolds mb-3 
                                    month-savings pb-5 word-wrap jost" >
                            <span>
                                <span style="margin-right: 8px;">₹</span>{{overall_savings|intcomma}}</span>
                            <span class="user-available-percent white-row-bg income">
                                {{overall_savings_percentage}}%
                            </span>

                        </div>
                    </div>
                </div>
                <div class="mb-5"></div>
            </div>

            <div class="d-none d-md-block d-lg-none mt-3">
            </div>
            <div class="col-6 col-lg-6  col-md-12 head">

                <div class="row desktop-content jost" >
                    <div class="col-12 mb-2 ">
    
                        <div class="row total-inc-exp" id="total-inc">
                            <div class="col-6 col-lg-5 font-weight-bolds px-5 pt-2 pb-2 josts 
                            white-row-bg ">
                                {{"Income" | title}}
                            </div>
                            <div class="col-5 col-lg-6 income  pt-2 pb-2 white-row-bg word-wrap" >
                                <span style="margin-right: 5px;">+</span><span style="margin-right: 5px;">₹</span>{{overall_income|intcomma|truncatechars:18}}
                            </div>
                            <div class=" col-1 col-lg-1 income pt-2 pb-2 text-center">
                                <span class="mx-auto arrows">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12  mt-3 ">
                        <div class="row total-inc-exp" id="total-exp">
                            <div class="col-6 col-lg-5 font-weight-bolds px-5 pt-2 pb-2 josts white-row-bg">
                                {{"Expense" | title}}
                            </div>
                            <div class="col-5 col-lg-6 expense pt-2 pb-2 white-row-bg word-wrap" >
                                 <span style="margin-right: 5px;">-</span><span style="margin-right: 5px;">₹</span>{{overall_expense|intcomma|truncatechars:18}}
                                <span class="user-expense-percent white-row-bg expense">
                                    {{overall_exp_percentage}}%
                                </span>
                            </div>
                            <div class="col-1 col-lg-1 pt-2 pb-2 expense text-center">
                                <span class="mx-auto arrows ">
                                    <i class="fas fa-arrow-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mobile-content">
                    <div class="row jost">
                        <div class="col-6 " style="border-right: 0px solid rgb(248, 248, 248);">
        
                            <div class="row total-inc-exp "
                            style="border:1px solid #00BFA5;
                                    border-left:5px solid #00BFA5;
                                    border-right: 0px solid #00BFA5">
                                <div class="col-12 font-weight-bolds jost p-3 pt-4 mobile-inc-exp 
                                white-row-bg ">
                                    {{"Income" | title}}
                                    <span class="mx-auto arrows income text-center float-end pt-3">
                                        <i class="fas fa-arrow-up"></i>
                                    </span>
                                </div>
                                <div class="col-12  income white-row-bg p-3 pb-4 word-wrap">
                                    <span style="margin-right: 5px;margin-left: 8px;">₹</span>{{overall_income|intcomma|truncatechars:18}}
                                </div>
                            </div>
                        </div>
        
                        <div class="col-6   " style="border-left: 0px solid rgb(248, 248, 248);">
                            <div class="row total-inc-exp" 
                                    style="border:1px solid #E53935;
                                            border-right:5px solid #E53935;
                                            border-left: 1px solid #E53935;">
                                <div class="col-12 font-weight-bolds  jost p-3 pt-4 mobile-inc-exp 
                                            white-row-bg">
                                    {{"Expense" | title}}
                                    <span class="mx-auto arrows expense text-center float-end pt-3  ">
                                        <i class="fas fa-arrow-down"></i>
                                    </span>
                                </div>
                                <div class="col-12  expense white-row-bg p-3 pb-4 word-wrap" style="">
                                    <span style="margin-right: 5px;margin-left: 8px;">₹</span>{{overall_expense|intcomma|truncatechars:18}}
                                    <span class="expense-percent white-row-bg" style="font-size:20px ;">
                                        {{overall_exp_percentage}}%
                                    </span>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    
        <div class="row mt-4 desktop-content">
            {% if incomes|length != 0 %}
                <div class="col-6  ">
                    <div class="row">
                        <div class="col-6 income heading jost text-cen">
                            <i class="fas fa-stream"></i>
                            <!-- <i class="fas fa-list-ul"></i> -->
                             {{"INCOME LIST" |upper}}
                        </div>

                        <div class="col-1">
    
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-6"></div>
            {% endif %}
    
            {% if expenses|length != 0 %}
                <div class="col-6  ">
                    <div class="row">
                        <div class="col-6 expense heading jost">
                            <!-- <i class="fa fa-list" aria-hidden="true"></i>  -->
                            <i class="fas fa-stream"></i> {{"Expense List" |upper}} 
                        </div>

                        <div class="col-1">
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-6"></div>
            {% endif %}
        </div>
    
    
        <div class="row jost mt-3 desktop-content">
            <div class="col-6 ">
                {% if incomes|length != 0 %}
                <div class="row font-weight-bold mb-2">
                    <div class="col-2 ">
                        No.
                    </div>
                    <div class="col-5 ">
                        Description
                    </div>
                    <div class="col-4 ">
                        Total ( ₹ )
                    </div>
                    <div class="col-1 "></div>
                    <br>
                </div>
                {% else %}
                <div class="row text-center income jost">
                    <div class="col-12">
                    </div>
                </div>
    
                {% endif %}
            </div>
    
            <div class="col-6 ">
                {% if expenses|length != 0 %}
                <div class="row font-weight-bold mb-2">
                    <div class="col-2">
                        No.
                    </div>

                    <div class="col-5 ">
                        Description
                    </div>
                    <div class="col-4">
                        Total ( ₹ )
                    </div>
                    <div class="col-1 "></div>
                    <br>
                </div>
                {% else %}
                <div class="row text-center income jost">
                    <div class="col-12">
                    </div>
                </div>
                {% endif %}
            </div>
    
        </div>
    
        <div class=" mt-1"></div>
    
    </div>

    <div class="container-fluid desktop-content jost">
        <div class="row row-font">
            {% if incomes|length != 0 %}
            <!-- Income -->

            <div class="col-6 row-font">
                {% for key,value in incomes_dict.items %}
                <div class="row content  word-wrap"  >

                    <div class="col-2 font-weight-bolds  white-row-bg pt-2 pb-2 ">
                        {{forloop.counter}}
                    </div>

                    <div class="col-5 white-row-bg pt-2 pb-2">
                        {{key | title}}
                    </div>
                    <div class="col-4 income white-row-bg pt-2 pb-2 amt jost">
                        <span style="margin-right: 5px;">+</span>{{value.0|intcomma}}
                        <span class="income user-expense-percent  white-row-bg pt-1 pb-1">
                            {{value.3}}%
                        </span>
                    </div>

                    {% include 'income_dropdown.html' %}

                {% endfor %}
            </div>

            {%else%}
            <div class="col-6">
                <div class="row text-center income jost">
                    <div class="col-12">
                        <div class="mb-3 no-inc-exp">
                            {{"No Incomes for this month" | title}}.
                        </div>
                        <div class="mt-2">

                            {% if user.is_authenticated %}
                            <a class="btn incomes shadow-0 add-new-btn hoverable"
                                style="background-color: #00BFA5;color: white;border-radius: 0%;"
                                data-mdb-toggle="modal" data-mdb-target="#addIncome">
                                Add New Income
                            </a>
                            {% else %}
                            <a class="btn incomes shadow-0 add-new-btn hoverable" href="{% url 'login' %}"
                                style="background-color: #00BFA5;color: white;border-radius: 0%;">
                                Add New Income
                            </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            
            {% if expenses|length != 0 %}
            <!-- Expense -->
            <div class="col-6 row-font">
                {% for key,value in expenses_dict.items %}
                <div class="row content  word-wrap"  >
                    <div class="col-2 font-weight-bolds white-row-bg pt-2 pb-2">
                        {{forloop.counter}}
                    </div>

                    <div class="col-5  white-row-bg pt-2 pb-2">
                        {{key | title}}
                    </div>
                    <div class="col-4 expense white-row-bg pt-2 pb-2 amt jost">
                        <span style="margin-right: 5px;">-</span>{{value.0|intcomma}}
                        <span class="expense user-expense-percent  white-row-bg pt-1 pb-1">
                            {{value.3}}%
                        </span>
                    </div>

                    {% include 'expense_dropdown.html' %}

                {% endfor %}
            </div>
            {% else %}

            <div class="col-6 ">
                <div class="row text-center expense jost">
                    <div class="col-12">
                        <div class="mb-3 no-inc-exp">
                            {{"No Expenses for this month" | title}}.
                        </div>
                        <div class="mt-2">

                            {% if user.is_authenticated %}
                            <a class="btn incomes shadow-0 add-new-btn hoverable"
                                style="background-color: #E53935;color: white;border-radius: 0%;"
                                data-mdb-toggle="modal" data-mdb-target="#addExpense">
                                Add New Expense
                            </a>
                            {% else %}
                            <a class="btn incomes shadow-0 add-new-btn hoverable" href="{% url 'login' %}"
                                style="background-color: #E53935;color: white;border-radius: 0%;">
                                Add New Expense
                            </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


        </div>
    </div>

    <div class="row mt-4 ">
    </div>
    <br>



<!-- -------------------Mobile------------------ -->

    <div class="container-fluid mobile-content jost">

        <div class="row row-font">

            <!-- Heading -->
            {% if incomes|length != 0 %}
            <div class="col-12  ">
                <div class="row mt-1 mb-3">
                    <div class="col-12 income heading jost font-weight-bolds">
                        <i class="fas fa-stream"></i>
                        <!-- <i class="fas fa-list-ul"></i> -->
                         {{"INCOME LIST" |upper}}
                    </div>
                    <!-- <div class="col-4 bg-success"></div> -->

                    <div class="col-1">
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-6"></div>
            {% endif %}

            {% if incomes|length != 0 %}
            <!-- Income -->
            <div class="col-12 row-font word-wrap " >
                {% for key,value in incomes_dict.items %}
                
                {% include 'income_dropdown_mobile.html' %}

            </div>

                {% endfor %}

            </div>
            {%else%}
            <div class="mt-4"></div>
            <div class="col-12">
                <div class="row text-center income jost">
                    <div class="col-12">
                        <div class="mb-3 no-inc-exp">
                            {{"No Incomes for this month" | title}}.
                            <div class="m-5"></div>
                            {% if user.is_authenticated %}
                            <a class="btn incomes shadow-0 add-new-btn hoverable"
                                style="background-color: #00BFA5;color: white;border-radius: 0%;"
                                data-mdb-toggle="modal" data-mdb-target="#addIncome">
                                <span class="p-3">
                                    Add New Income
                                </span>
                            </a>
                            {% else %}
                            <a class="btn incomes shadow-0 add-new-btn hoverable" href="{% url 'login' %}"
                                style="background-color: #00BFA5;color: white;border-radius: 0%;">
                                <span class="p-3">
                                    Add New Income
                                </span>
                            </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="mt-5"></div>
            <!-- Heading -->
            {% if expenses|length != 0 %}
            <div class="col-12  ">
                <div class="row">
                    <div class="col-12 expense heading jost mt-3 mb-3">
                        <i class="fas fa-stream"></i>
                        <!-- <i class="fas fa-list-ul"></i> -->
                         {{"EXPENSE LIST" |upper}}
                    </div>

                </div>
            </div>
            {% else %}
            <div class="col-6"></div>
            {% endif %}

            {% if expenses|length != 0 %}
            <!-- Expense -->
            <div class="col-12 row-font">
                {% for key,value in expenses_dict.items %}

                {% include 'expense_dropdown_mobile.html' %}

            </div>

                {% endfor %}
            </div>
            {% else %}
            <div class="mt-4"></div>
            <div class="col-12">
                <div class="row text-center expense jost">
                    <div class="col-12">
                        <div class="mb-3 no-inc-exp">
                            {{"No Expenses for this month" | title}}.
                            <div class="m-5"></div>

                            {% if user.is_authenticated %}
                            <a class="btn incomes shadow-0 add-new-btn hoverable"
                                style="background-color: #E53935;color: white;border-radius: 0%;"
                                data-mdb-toggle="modal" data-mdb-target="#addExpense">
                                <span class="p-3">
                                    Add New Expense
                                </span>
                            </a>
                            {% else %}
                            <a class="btn incomes shadow-0 add-new-btn hoverable" href="{% url 'login' %}"
                                style="background-color: #E53935;color: white;border-radius: 0%;">
                                <span class="p-3">
                                    Add New Expense
                                </span>
                            </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


        </div>

        <div class="mb-5">
            <br><br><br><br><br>
        </div>
    </div>



</div>
<br><br>




<script>

</script>


<!-- <script>
    incDesc = ''
    incTotal = ''
    expDesc = ''
    expTotal = ''

    wholeExpPercent = document.querySelector("#whole-exp-percent")
    wholeExpPercentMobile = document.querySelector("#whole-exp-percent-mobile")

    wholeAvailablePercent = document.querySelector("#whole-available-percent")

    var overall_income = Number("{{overall_income}}")
    var overall_expense = Number("{{overall_expense}}")
    var savings = Number("{{savings}}")
    var percent = 0

    percent = (overall_expense / overall_income) * 100

    if (percent < 1) {
        percent = percent.toFixed(2)
    } else {
        percent = Math.round(percent)
    }

    if (isNaN(percent)) {
        percent = 0
    }

    wholeExpPercent.textContent = percent + "%"
    wholeExpPercentMobile.textContent = percent+"%"
    if (percent<=100) {
        wholeAvailablePercent.textContent = 100 - percent + "%"
    } else {
        wholeAvailablePercent.textContent = "0%"
    }

    if(overall_income<=0){
        wholeExpPercent.textContent =   "100%"
        wholeExpPercentMobile.textContent = "100%"
        wholeAvailablePercent.textContent = "0%"
    }
    if(overall_expense<=0){
        wholeExpPercent.textContent =   "0%"
        wholeExpPercentMobile.textContent = "0%"
    }

</script> -->

<script>

</script>




{% endblock content %}